/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mar-side{
    margin-left: 13vw;
    margin-right: 13vw;
}

.flex{
    display: flex;
}

header{
    background-color: #ADD8E6;
    padding-top: 15px;
}

.box-height{
    height: 50vh;
}

.cont-height{
    height: 43.5vh;
}

nav{
    width: 74vw;
    background-color: #DAA520;
    margin-bottom: 15px;
}

.center{
    text-align: center;
}

.right{
    text-align: right;
}

.left{
    text-align: left;
}

.dash-black{
    border: dashed black;
}

.one-fifth{
    width: 20%;
}

.tree-fifth{
    width: 60%;
}

nav li, nav p{
    padding: 6px;
}

ul{
    justify-content: center;
    list-style: none;
}

.showoff{
    background-color: #00008B;
}

