/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pad-side{
    padding-left: 13vw;
    padding-right: 13vw;
}

.flex{
    display: flex;
}

header{
    background-color: #ADD8E6;
    padding-top: 15px;
}

.height{
    height: 50vh;
}

nav{
    width: 74vw;
    background-color: #DAA520;
    margin-bottom: 15px;
}
